
@{
    Layout = null;
}


@model SysGeSe.Models.Acesso
@{
    ViewBag.Title = "Acesso";
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes dos ACESSOS</h4>

            </div>
            <div class="modal-body">

                <div class="mb-1 row">
                    <label for="id" class="col-lg-3 col-form-label">Id</label>
                    <div class="col-lg-5">
                        <input type="text" disabled class="form-control" id="id" value=@Model.Id>
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="nome" class="col-lg-3 col-form-label">Tabela</label>
                    <div class="col-lg-9">
                        <input type="text" disabled class="form-control" id="nome" value="@Model.Tabelas.Nome">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="perfil" class="col-lg-3 col-form-label">Perfil</label>
                    <div class="col-lg-9">
                        <input type="text" disabled class="form-control" id="perfil" value="@Model.Perfis.Descricao">
                    </div>
                </div>

                <div class="mb-1 row">
                    <label for="atv_v" class="col-lg-3 col-form-label">Visualizar</label>
                    <div class="col-lg-2">
                        @if (Model.Tabela_V == true)
                        {


                            <input type="text" disabled class="form-control" id="atv_v" value="SIM">
                        }
                        else
                        {
                            <input type="text" disabled class="form-control" id="atv_v" value="NÃO">
                        }

                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="atv_i" class="col-lg-3 col-form-label">Incluir</label>
                    <div class="col-lg-2">
                        @if (Model.Tabela_I == true)
                        {


                            <input type="text" disabled class="form-control" id="atv_i" value="SIM">
                        }
                        else
                        {
                            <input type="text" disabled class="form-control" id="atv_i" value="NÃO">
                        }

                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="atv_a" class="col-lg-3 col-form-label">Alterar</label>
                    <div class="col-lg-2">
                        @if (Model.Tabela_A == true)
                        {


                            <input type="text" disabled class="form-control" id="atv_a" value="SIM">
                        }
                        else
                        {
                            <input type="text" disabled class="form-control" id="atv_a" value="NÃO">
                        }

                    </div>
                </div>

                <div class="mb-1 row">
                    <label for="atv_e" class="col-lg-3 col-form-label">Excluir</label>
                    <div class="col-lg-2">
                        @if (Model.Tabela_A == true)
                        {


                            <input type="text" disabled class="form-control" id="atv_e" value="SIM">
                        }
                        else
                        {
                            <input type="text" disabled class="form-control" id="atv_e" value="NÃO">
                        }

                    </div>
                </div>

                <div class="mb-1 row">
                    <label for="obs" class="col-lg-3 col-form-label">Observações</label>
                    <div class="col-lg-9">
                        <input type="text" disabled class="form-control" id="obs" value="@Model.Obs">
                    </div>
                </div>

                <div class="mb-1 row">
                    <label for="cad" class="col-lg-3 col-form-label">Cadastro</label>
                    <div class="col-lg-7">
                        <input type="text" disabled class="form-control" id="cad" value="@Model.DataCad">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="alt" class="col-lg-3 col-form-label">Alteração</label>
                    <div class="col-lg-7">
                        <input type="text" disabled class="form-control" id="alt" value="@Model.DataAlt">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="atv" class="col-lg-3 col-form-label">Ativo</label>
                    <div class="col-lg-7">
                        @if (Model.Status == 1)
                        {


                            <input type="text" disabled class="form-control" id="atv" value="SIM">
                        }
                        else
                        {
                            <input type="text" disabled class="form-control" id="atv" value="NÃO">
                        }

                    </div>
                </div>



                <hr />
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>



            </div>

            <div class="modal-footer">
                <a class="btn btn-primary" onclick="chamarEdit(@Model.Id,true)" style="border-color: #7a7a7a;"><i class="fas fa-edit p-1"></i> Editar</a>
                <a class="btn btn-dark" onclick="fecharModal()" style="border-color: #7a7a7a;"><i class="fas fa-solid fa-arrow-left"></i> Voltar</a>

            </div>

        </div> <!--fim modal content-->
    </div> <!--fim modal dialog-->

</div>
</html>
