
@{
    Layout = null;
}

@model SysGeSe.Models.Funcao
@{
    ViewBag.Title = "Delete";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal-dialog prn-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deletar FUNÇÃO - ID: @Model.Id</h4>

                </div>
                <div class="modal-body">
                    <div class="mb-2 row g-0">
                        <div class="col-lg-12 mb-2">
                            <div class="alert alert-danger" role="alert">
                                Deseja realmente EXCLUIR esse registro?
                            </div>
                        </div>

                    </div>

                    <div class="row g-0">
                        <div class="col-lg-6 mb-2">
                            <label for="nome" class="form-label">Descrição</label>
                            <input type="text" disabled class="form-control prn-inputs" id="nome" value="@Model.Descricao">
                        </div>

                        <div class="col-lg-2 mb-2">
                            <label for="cad" class="form-label">Cadastro</label>
                            <input type="text" disabled class="form-control prn-inputs" id="cad" value="@Model.DataCad">

                        </div>

                        <div class="col-lg-2 mb-2">
                            <label for="alt" class="form-label">Alteração</label>
                            <input type="text" disabled class="form-control prn-inputs" id="cad" value="@Model.DataCad">

                        </div>
                        <div class="col-lg-2 mb-2">
                            <label for="atv" class="form-label">Ativo</label>
                            @if (Model.Status == true)
                            {


                                <input type="text" disabled class="form-control" id="atv" value="SIM">
                            }
                            else
                            {
                                <input style="color:red !important;" type="text" disabled class="form-control" id="atv" value="NÃO">
                            }

                        </div>


                    </div>


                </div>

                <div class="modal-footer">

                    <button type="submit" value="Excluir" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Confirmar</button>

                    <a class="btn btn-dark" onclick="fecharModal()" style="border-color: #7a7a7a;"><i class="fas fa-solid fa-arrow-left"></i> Voltar</a>

                </div>

            </div> <!--fim modal content-->
        </div> <!--fim modal dialog-->

    </div>
}
