<div class="row">

    <!--Mensagem de salvar-->
    @if (@ViewBag.MensagemGravar != "")
    {
        if (ViewBag.MensagemGravar == "Registro Salvo com Sucesso!!")
        {
<div class="alert alert-success alert-dismissible fade show form-group col-lg-8 mt-1" role="alert">
    @if (@ViewBag.RegSalvos != "0")
    {

<span>@ViewBag.MensagemGravar Qtd de Registros Salvos: @ViewBag.RegSalvos</span>}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> }
                else
                {
<div class="alert alert-warning alert-dismissible fade show form-group col-lg-5 mt-1" role="alert">
    <span>@ViewBag.MensagemGravar</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}

            }


</div>
<!--Parte da procura-->
<div class="row">
    <!--primeira coluna-->
    <div class="form-group col-lg-8">
        <label for="procuraNome" class="form-label">Procura por NOME</label>
        <div class="input-group">

            @if (ViewBag.FiltroCorrenteTabela == null)
            {
    @Html.TextBox("procuraNome", null, new { @class = "form-control prn-inputs", onkeyup = "maiuscula(this);", placeholder = "Digite o NOME" }) }
else
{
    @Html.TextBox("procuraNome", (string)ViewBag.FiltroCorrenteTabela, new { @class = "form-control prn-inputs", onkeyup = "maiuscula(this);", placeholder = "Digite o NOME" })}

            @*<input type="text" id="procuraNome" name="procuraNome" class="form-control prn-inputs" placeholder="Procura por NOME">*@
            <button class="btn btn-primary" type="submit" id="button-addon2"><i class="prn-font-icones-white fas fa-search"></i></button>
        </div>

    </div>

    <div class="form-group col-lg-2">
        <label for="numeroLinhas" class="form-label">Linhas</label>
        <div class="input-group">
            <select class="form-select" id="numeroLinhas" name="numeroLinhas" aria-label="Example select with button addon">

                @if (ViewBag.NumeroLinhas == 10)
                {

    <option selected>10</option>
                    <option>20</option>
                                    <option>30</option> }
                                                else
                                                {
                                                    if (ViewBag.NumeroLinhas == 20)
                                                    {

                                    <option>10</option>
                                                        <option selected>20</option>
                                                                            <option>30</option> }
                                                                                            else
                                                                                            {
                                                                            <option>10</option>
                                                                                                <option>20</option>
                                                                                                                    <option selected>30</option>}

                                                                                                                                }


            </select>
            <button class="btn btn-primary" type="submit"><i class="prn-font-icones-white fas fa-check-circle"></i></button>
        </div>
    </div>


    <div class="form-group col-lg-2">
        <label for="inputStatus" class="form-label">Status</label>
        <div class="input-group">
            <select class="form-select" id="inputStatus" name="inputStatus">

                @if (ViewBag.Status == 1)
                {

    <option value="1" selected>Ativos</option>
                    <option value="0">Inativos</option>
                                    <option value="2">Todos</option> }
                                                else
                                                {
                                                    if (ViewBag.Status == 0)
                                                    {

                                    <option value="1">Ativos</option>
                                                        <option selected value="0">Inativos</option>
                                                                            <option value="2">Todos</option> }
                                                                                            else
                                                                                            {
                                                                            <option value="1">Ativos</option>
                                                                                                <option value="0">Inativos</option>
                                                                                                                    <option selected value="2">Todos</option>}

                                                                                                                                }




            </select>
            <button class="btn btn-primary" type="submit"><i class="prn-font-icones-white fas fa-check-circle"></i></button>
        </div>
    </div>
</div>
